@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes rotatePlanet {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -375px -350px;
  }
}
