@import 'Home.keyframes.scss';

.container {
  width: 100%;
  overflow: hidden;
}

.header {
  position: relative;
  background: radial-gradient(ellipse at bottom, #1b2735, 0%, #090a0f 100%);
  height: 100vh;
  width: 100%;
}

@function multipleBoxShadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random(5000)}px #{random(5000)}px #FFF';
  }

  @return unquote($value);
}

$shadows-sm: multipleBoxShadow(700);
$shadows-md: multipleBoxShadow(200);
$shadows-lg: multipleBoxShadow(100);

.fstar {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-sm;
  animation: animStar 50s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-sm;
  }
}

.mstar {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-md;
  animation: animStar 100s linear infinite;

  &:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-md;
  }
}

.bstar {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-lg;
  animation: animStar 150s linear infinite;

  &:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-lg;
  }
}
