@import 'Home.keyframes.scss';

$white: #fff;
$sun: hsl(20, 75%, 55%);

.section {
  position: absolute;
  transform-style: preserve-3d;
  z-index: 0;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.nav {
  @media (max-width: 768px) {
    position: absolute;
    top: 3vh;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::before {
      content: '\039e';
      font-size: 2rem;
      position: inherit;
      right: 0 + 2vw;
    }

    ul {
      display: flex;
      position: absolute;
      flex-direction: column;
      width: 100vw;
      transform: translate(-50%);
      align-items: center;
      text-align: center;
      top: 0;
      gap: 1rem;
      font-size: larger;
      z-index: 1;
      padding-top: 2em;
      padding-bottom: 2em;
      list-style-type: none;

      li {
        $bg: #112d78;
        background-color: hsl(260, 80%, 5%);
        box-shadow: inset 0 4px 18px $bg;
        padding: 0.5em;
        width: 80%;
        transform: translate(-5%);
        transition: box-shadow 200ms ease-in;
        user-select: none;
        cursor: pointer;

        a {
          text-decoration: none;
        }

        &:hover,
        &:active,
        &:focus {
          box-shadow: inset 0 4px 18px 20px $bg;
        }
      }
    }
  }
}
