$white: #fff;
$boxShadowFStar: 371px 1344px $white, 1400px 1606px $white, 23px 871px $white,
  1886px 1796px $white, 680px 371px $white, 678px 983px $white,
  1125px 398px $white, 548px 1143px $white, 480px 178px $white,
  1410px 808px $white, 1283px 1115px $white, 830px 877px $white,
  1771px 1796px $white, 1145px 296px $white, 1564px 1923px $white,
  966px 1229px $white, 1530px 1054px $white, 1215px 1521px $white,
  1849px 111px $white, 1517px 1204px $white, 1518px 1172px $white,
  198px 910px $white, 636px 1006px $white, 804px 611px $white,
  215px 932px $white, 1890px 190px $white, 1311px 1017px $white,
  1820px 1829px $white, 1264px 1936px $white, 82px 1727px $white,
  1819px 1433px $white, 1456px 1390px $white, 1527px 461px $white,
  798px 490px $white, 854px 909px $white, 41px 966px $white, 835px 877px $white,
  441px 1391px $white, 1634px 1081px $white, 1745px 1483px $white,
  936px 1520px $white, 1226px 535px $white, 947px 1086px $white,
  14px 298px $white, 849px 1568px $white, 1285px 1495px $white,
  468px 1442px $white, 31px 1758px $white, 409px 83px $white, 169px 895px $white,
  323px 1719px $white, 216px 926px $white, 1286px 1970px $white,
  617px 301px $white, 443px 825px $white, 1936px 1800px $white,
  436px 1388px $white, 1350px 1407px $white, 1600px 1485px $white,
  1319px 1605px $white, 706px 1235px $white, 157px 930px $white,
  1622px 59px $white, 337px 410px $white, 1230px 471px $white,
  702px 1692px $white, 53px 259px $white, 254px 243px $white,
  427px 1078px $white, 1667px 133px $white, 3px 401px $white,
  1861px 1958px $white, 63px 707px $white, 1474px 1301px $white,
  1715px 1811px $white, 566px 1198px $white, 1724px 1103px $white,
  314px 1185px $white, 1555px 473px $white, 1334px 1757px $white,
  1554px 450px $white, 322px 151px $white, 1276px 1751px $white,
  196px 1950px $white, 122px 1029px $white, 902px 165px $white,
  1888px 590px $white, 653px 1153px $white, 901px 498px $white,
  999px 1919px $white, 105px 1551px $white, 1595px 494px $white,
  928px 1663px $white, 1092px 10px $white, 42px 421px $white, 1279px 41px $white,
  398px 594px $white, 1788px 1113px $white, 996px 1671px $white,
  1943px 1769px $white, 174px 848px $white, 1527px 1634px $white,
  1375px 1526px $white, 1832px 478px $white, 714px 1820px $white,
  1287px 1124px $white, 1857px 970px $white, 1245px 115px $white,
  589px 1627px $white, 342px 1543px $white, 1900px 306px $white,
  1409px 1957px $white, 1090px 1776px $white, 1643px 721px $white,
  971px 900px $white, 1436px 860px $white, 998px 1449px $white,
  1507px 875px $white, 584px 1009px $white, 1422px 906px $white,
  1745px 839px $white, 1363px 1445px $white, 841px 1274px $white,
  719px 849px $white, 1290px 1138px $white, 1191px 314px $white,
  1191px 1904px $white, 1629px 1758px $white, 503px 1732px $white,
  850px 981px $white, 1330px 1900px $white, 852px 1550px $white,
  1974px 1457px $white, 750px 1007px $white, 276px 1612px $white,
  436px 894px $white, 1395px 1151px $white, 1478px 1908px $white,
  434px 1974px $white, 639px 395px $white, 299px 249px $white,
  832px 1674px $white, 1065px 608px $white, 1902px 1114px $white,
  349px 400px $white, 614px 463px $white, 1809px 1838px $white,
  297px 993px $white, 1542px 1137px $white, 586px 596px $white,
  905px 1236px $white, 495px 1902px $white, 1448px 296px $white,
  507px 1317px $white, 304px 1908px $white, 1591px 1020px $white,
  1276px 1574px $white, 337px 1666px $white, 834px 1847px $white,
  1532px 508px $white, 623px 1771px $white, 1943px 82px $white,
  483px 235px $white, 913px 350px $white, 554px 1737px $white,
  1584px 1077px $white, 404px 1038px $white, 1103px 684px $white,
  1591px 1816px $white, 337px 33px $white, 1516px 492px $white,
  617px 1560px $white, 1950px 846px $white, 1737px 783px $white,
  1565px 1503px $white, 120px 331px $white, 1254px 1571px $white,
  301px 1250px $white, 1121px 713px $white, 1276px 622px $white,
  1356px 1762px $white, 545px 1474px $white, 77px 1296px $white,
  272px 1250px $white, 49px 552px $white, 1857px 481px $white, 455px 65px $white,
  1038px 1801px $white, 1545px 1261px $white, 1049px 763px $white,
  1005px 1957px $white, 1085px 957px $white, 84px 939px $white,
  701px 796px $white, 446px 156px $white, 1188px 152px $white,
  776px 452px $white, 1276px 1169px $white, 94px 1186px $white,
  106px 756px $white, 693px 1721px $white, 1841px 154px $white,
  1634px 1313px $white, 1209px 1072px $white, 1954px 741px $white,
  1291px 1288px $white, 85px 951px $white, 1707px 67px $white, 80px 118px $white,
  745px 609px $white, 1858px 752px $white, 851px 1473px $white,
  749px 1456px $white, 933px 101px $white, 1868px 375px $white,
  946px 1410px $white, 500px 935px $white, 1114px 776px $white,
  1412px 57px $white, 593px 1104px $white, 1643px 1022px $white,
  528px 608px $white, 1520px 175px $white, 1987px 753px $white,
  168px 1215px $white, 1511px 1287px $white, 558px 496px $white,
  788px 1645px $white, 693px 497px $white, 26px 356px $white,
  1677px 340px $white, 1463px 1451px $white, 953px 1738px $white,
  905px 948px $white, 1277px 1053px $white, 621px 1313px $white,
  628px 1750px $white, 1675px 741px $white, 513px 436px $white,
  1710px 1235px $white, 1475px 833px $white, 1174px 431px $white,
  970px 1360px $white, 1797px 122px $white, 1550px 1px $white,
  510px 1040px $white, 1297px 1010px $white, 69px 1445px $white,
  1659px 1727px $white, 1748px 1460px $white, 478px 315px $white,
  467px 388px $white, 1769px 890px $white, 1810px 1711px $white,
  670px 1007px $white, 1484px 129px $white, 456px 405px $white,
  750px 783px $white, 1857px 355px $white, 1714px 1965px $white,
  1654px 1140px $white, 1302px 700px $white, 267px 191px $white,
  90px 786px $white, 1939px 36px $white, 444px 1206px $white,
  1976px 1947px $white, 1278px 1799px $white, 696px 1447px $white,
  1126px 973px $white, 575px 1804px $white, 289px 1241px $white,
  1020px 547px $white, 400px 236px $white, 185px 767px $white,
  230px 1113px $white, 1376px 1750px $white, 265px 302px $white,
  1175px 1535px $white, 866px 288px $white, 1380px 1010px $white,
  1265px 1046px $white, 846px 997px $white, 674px 475px $white,
  1510px 685px $white, 726px 1109px $white, 318px 52px $white,
  1353px 881px $white, 1272px 869px $white, 1976px 399px $white,
  849px 1648px $white, 953px 594px $white, 1623px 1503px $white,
  348px 649px $white, 1755px 771px $white, 1347px 1207px $white,
  249px 1824px $white, 1007px 528px $white, 970px 1868px $white,
  1799px 1672px $white, 940px 257px $white, 626px 1964px $white,
  506px 329px $white, 330px 685px $white, 1915px 1681px $white,
  996px 1554px $white, 165px 1486px $white, 695px 1993px $white,
  1037px 588px $white, 73px 1886px $white, 1926px 1805px $white,
  238px 1212px $white, 366px 963px $white, 164px 625px $white,
  795px 1380px $white, 61px 346px $white, 476px 969px $white, 104px 838px $white,
  261px 1101px $white, 357px 797px $white, 1597px 1598px $white,
  1410px 1278px $white, 354px 1840px $white, 1053px 1911px $white,
  24px 1125px $white, 1739px 102px $white, 230px 1115px $white,
  1747px 902px $white, 1565px 1091px $white, 1245px 1647px $white,
  720px 1371px $white, 520px 86px $white, 48px 1790px $white,
  1841px 1193px $white, 1051px 1143px $white, 1458px 839px $white,
  902px 131px $white, 1396px 630px $white, 798px 757px $white,
  1582px 903px $white, 872px 388px $white, 1822px 1429px $white,
  1042px 1317px $white, 277px 994px $white, 1885px 1315px $white,
  1452px 157px $white, 576px 602px $white, 1634px 933px $white,
  724px 1419px $white, 509px 836px $white, 676px 1340px $white,
  1632px 243px $white, 39px 686px $white, 1919px 1791px $white,
  257px 617px $white, 1805px 712px $white, 1893px 1940px $white,
  387px 1125px $white, 734px 1256px $white, 831px 1984px $white,
  1417px 8px $white, 128px 1410px $white, 488px 365px $white,
  1789px 1765px $white, 919px 320px $white, 1909px 367px $white,
  529px 369px $white, 1003px 1371px $white, 117px 1564px $white,
  839px 152px $white, 172px 622px $white, 1456px 207px $white, 689px 27px $white,
  120px 1149px $white, 1595px 443px $white, 820px 431px $white,
  1343px 105px $white, 1863px 14px $white, 916px 1183px $white,
  1589px 552px $white, 952px 1371px $white, 106px 68px $white,
  478px 1436px $white, 80px 536px $white, 1418px 1880px $white,
  395px 1311px $white, 582px 229px $white, 478px 250px $white, 11px 947px $white,
  1412px 1549px $white, 859px 1639px $white, 433px 808px $white,
  380px 1949px $white, 1254px 342px $white, 1794px 1291px $white,
  1788px 1250px $white, 120px 744px $white, 794px 590px $white, 846px 9px $white,
  301px 538px $white, 486px 1424px $white, 1186px 1643px $white,
  169px 267px $white, 1438px 527px $white, 900px 607px $white,
  1768px 303px $white, 92px 1375px $white, 1346px 940px $white,
  896px 1090px $white, 1841px 1649px $white, 1054px 927px $white,
  1982px 1174px $white, 1376px 753px $white, 1083px 1512px $white,
  1109px 697px $white, 1965px 1849px $white, 1217px 74px $white,
  1974px 638px $white, 595px 1326px $white, 1874px 1533px $white,
  815px 1788px $white, 87px 485px $white, 676px 1801px $white,
  1714px 1800px $white, 419px 1881px $white, 553px 453px $white,
  1337px 758px $white, 1589px 1398px $white, 889px 1665px $white,
  694px 6px $white, 485px 753px $white, 1839px 1906px $white, 694px 453px $white,
  1551px 291px $white, 1970px 1123px $white, 486px 78px $white,
  1357px 1862px $white, 1215px 1438px $white, 826px 1860px $white,
  611px 728px $white, 767px 640px $white, 1390px 662px $white,
  660px 515px $white, 304px 1733px $white, 158px 1004px $white,
  759px 1850px $white, 38px 265px $white, 861px 1749px $white,
  1949px 627px $white, 1813px 1721px $white, 228px 1577px $white,
  407px 1007px $white, 311px 1863px $white, 1962px 364px $white,
  105px 1498px $white, 239px 1797px $white, 1077px 1321px $white,
  662px 1162px $white, 1270px 137px $white, 703px 1078px $white,
  373px 9px $white, 549px 995px $white, 419px 1862px $white, 409px 1799px $white,
  1227px 1926px $white, 1666px 1436px $white, 453px 857px $white,
  1707px 727px $white, 10px 1207px $white, 1666px 1445px $white,
  1404px 1559px $white, 1700px 1656px $white, 988px 653px $white,
  981px 581px $white, 148px 1130px $white, 700px 1903px $white,
  201px 915px $white, 1271px 159px $white, 1822px 1158px $white,
  1858px 541px $white, 1372px 968px $white, 470px 1811px $white,
  46px 1025px $white, 135px 1046px $white, 1294px 523px $white,
  358px 1867px $white, 613px 651px $white, 1116px 1634px $white,
  935px 79px $white, 1503px 1709px $white, 787px 467px $white,
  1909px 654px $white, 1694px 1931px $white, 194px 1048px $white,
  1751px 1971px $white, 1197px 222px $white, 880px 1022px $white,
  909px 957px $white, 1499px 1938px $white, 824px 162px $white,
  664px 784px $white, 1939px 1321px $white, 525px 192px $white,
  1977px 1700px $white, 283px 624px $white, 1220px 910px $white,
  1849px 1915px $white, 273px 141px $white, 559px 1177px $white,
  51px 794px $white, 919px 921px $white, 1725px 761px $white, 946px 999px $white,
  313px 1374px $white, 1707px 1484px $white, 941px 1805px $white,
  476px 1166px $white, 581px 1773px $white, 791px 466px $white,
  546px 1719px $white, 718px 12px $white, 1158px 438px $white,
  839px 1837px $white, 914px 148px $white, 1588px 421px $white,
  1859px 348px $white, 774px 1324px $white, 777px 226px $white,
  261px 1469px $white, 868px 1551px $white, 923px 947px $white,
  424px 1888px $white, 284px 1550px $white, 1824px 1604px $white,
  461px 1219px $white, 391px 851px $white, 16px 1586px $white,
  1166px 866px $white, 291px 707px $white, 1876px 1983px $white,
  1704px 1216px $white, 1402px 1322px $white, 1890px 319px $white,
  1177px 1343px $white, 1739px 1938px $white, 1322px 1728px $white,
  1273px 113px $white, 1953px 1953px $white, 1266px 749px $white,
  1569px 1196px $white, 790px 1766px $white, 1430px 490px $white,
  382px 320px $white, 1667px 1379px $white, 924px 1180px $white,
  1204px 1215px $white, 927px 1966px $white, 966px 471px $white,
  357px 846px $white, 135px 397px $white, 1687px 1341px $white,
  312px 1222px $white, 1689px 1044px $white, 1246px 1703px $white,
  94px 1667px $white, 1070px 257px $white, 1379px 1217px $white,
  1383px 305px $white, 964px 360px $white, 382px 200px $white,
  1597px 1875px $white, 768px 599px $white, 1672px 1098px $white,
  1743px 366px $white, 1601px 759px $white, 434px 154px $white,
  660px 761px $white, 752px 1441px $white, 547px 1553px $white,
  1596px 1692px $white, 286px 416px $white, 1122px 140px $white,
  837px 1736px $white, 1291px 652px $white, 1411px 1655px $white,
  1623px 1233px $white, 600px 1336px $white, 279px 390px $white,
  207px 1812px $white, 890px 454px $white, 449px 483px $white,
  1659px 1990px $white, 994px 1952px $white, 1495px 302px $white,
  243px 752px $white, 980px 1018px $white, 170px 1833px $white,
  420px 1993px $white, 33px 870px $white, 1662px 1802px $white,
  651px 1824px $white, 1356px 1471px $white, 985px 1283px $white,
  24px 1709px $white, 369px 1106px $white, 946px 1328px $white,
  488px 1028px $white, 1238px 185px $white, 142px 172px $white,
  1209px 1711px $white, 1694px 1702px $white, 469px 1550px $white,
  1109px 940px $white, 1018px 1769px $white, 1188px 493px $white,
  937px 352px $white, 1151px 425px $white, 1217px 361px $white,
  1274px 693px $white, 1975px 431px $white, 1143px 124px $white,
  605px 198px $white, 793px 1978px $white, 876px 629px $white,
  1759px 530px $white, 1501px 1239px $white, 1417px 151px $white,
  1860px 102px $white, 1077px 1087px $white, 83px 96px $white,
  440px 1969px $white, 1533px 64px $white, 1111px 1289px $white,
  337px 1790px $white, 1865px 1838px $white, 452px 245px $white,
  564px 1029px $white, 177px 1078px $white, 1406px 1737px $white,
  1229px 1348px $white, 1709px 737px $white, 1671px 1056px $white,
  219px 462px $white, 1420px 852px $white, 1012px 825px $white,
  1969px 1413px $white, 203px 1561px $white, 89px 1819px $white,
  347px 1728px $white, 752px 215px $white, 646px 1447px $white,
  1720px 1533px $white, 967px 277px $white, 1194px 1329px $white,
  1561px 122px $white, 1227px 357px $white, 617px 38px $white,
  1765px 197px $white, 1206px 411px $white, 1009px 1748px $white,
  979px 1136px $white, 1816px 1735px $white, 233px 197px $white,
  141px 1859px $white, 1213px 895px $white, 1514px 991px $white,
  388px 1842px $white, 534px 1205px $white, 1723px 718px $white,
  105px 1325px $white, 1789px 174px $white, 1997px 1660px $white,
  319px 726px $white, 844px 568px $white, 837px 1726px $white,
  427px 1642px $white, 1920px 1036px $white, 1127px 161px $white,
  89px 1820px $white, 679px 707px $white, 1648px 322px $white,
  697px 1387px $white, 777px 1868px $white, 1576px 1893px $white,
  1212px 1056px $white, 667px 477px $white, 969px 146px $white,
  1187px 1486px $white, 1723px 887px $white, 1222px 1980px $white,
  604px 199px $white, 727px 1010px $white, 1166px 1503px $white,
  304px 86px $white, 215px 1590px $white, 664px 506px $white,
  1416px 1924px $white, 392px 1161px $white, 1694px 1825px $white,
  1698px 1365px $white, 1824px 1440px $white;

$boxShadowMStar: 1587px 17639px $white, 1335px 14px $white, 1118px 147px $white,
  1758px 344px $white, 663px 502px $white, 115px 197px $white,
  418px 1399px $white, 1775px 806px $white, 1551px 992px $white,
  681px 645px $white, 177px 464px $white, 1435px 1451px $white,
  265px 1932px $white, 780px 742px $white, 517px 433px $white,
  1775px 870px $white, 1150px 476px $white, 1512px 177px $white,
  1412px 99px $white, 1441px 861px $white, 829px 346px $white,
  1409px 1363px $white, 1620px 133px $white, 1614px 1016px $white,
  1443px 1059px $white, 1913px 1172px $white, 87px 1397px $white,
  1464px 1818px $white, 447px 890px $white, 511px 870px $white,
  640px 1694px $white, 1235px 783px $white, 187px 1900px $white,
  242px 1063px $white, 168px 337px $white, 1798px 1849px $white,
  334px 1454px $white, 346px 809px $white, 219px 1474px $white,
  252px 482px $white, 1552px 822px $white, 1889px 342px $white,
  179px 1591px $white, 1934px 1312px $white, 1649px 1230px $white,
  1426px 1333px $white, 1144px 1481px $white, 1381px 1652px $white,
  1661px 707px $white, 1413px 1854px $white, 1619px 1923px $white,
  1961px 1024px $white, 978px 861px $white, 594px 570px $white,
  880px 1393px $white, 1078px 514px $white, 207px 554px $white,
  604px 1607px $white, 1858px 1175px $white, 1303px 517px $white,
  77px 1835px $white, 191px 766px $white, 174px 1647px $white,
  428px 713px $white, 1017px 1041px $white, 1275px 494px $white,
  1710px 334px $white, 1510px 1195px $white, 722px 844px $white,
  1698px 203px $white, 203px 900px $white, 1910px 1504px $white,
  575px 1637px $white, 1861px 302px $white, 297px 1812px $white,
  1396px 504px $white, 971px 218px $white, 518px 1008px $white,
  744px 701px $white, 1988px 337px $white, 262px 388px $white,
  1090px 839px $white, 327px 101px $white, 1700px 1928px $white,
  724px 1035px $white, 165px 935px $white, 1671px 239px $white,
  1783px 1628px $white, 1757px 22px $white, 26px 1116px $white,
  1397px 314px $white, 944px 1878px $white, 576px 1046px $white,
  2px 130px $white, 478px 443px $white, 93px 1267px $white, 615px 1048px $white,
  501px 812px $white, 1889px 282px $white, 1217px 135px $white,
  1658px 1231px $white, 1523px 1239px $white, 1537px 874px $white,
  385px 1353px $white, 539px 207px $white, 1822px 1359px $white,
  1031px 985px $white, 348px 1161px $white, 1979px 1047px $white,
  1230px 1888px $white, 1949px 579px $white, 1401px 1387px $white,
  1167px 557px $white, 1416px 1724px $white, 1790px 361px $white,
  1600px 1579px $white, 803px 106px $white, 721px 1692px $white,
  1117px 34px $white, 1511px 1688px $white, 1480px 928px $white,
  366px 567px $white, 300px 35px $white, 456px 937px $white, 845px 350px $white,
  1108px 69px $white, 1682px 1173px $white, 491px 844px $white,
  763px 1168px $white, 1247px 1859px $white, 545px 24px $white,
  1037px 353px $white, 837px 325px $white, 1615px 166px $white,
  1506px 1288px $white, 1926px 89px $white, 1376px 1491px $white,
  1559px 713px $white, 1639px 846px $white, 1808px 737px $white,
  1251px 704px $white, 1792px 341px $white, 1973px 1060px $white,
  180px 1652px $white, 1007px 1035px $white, 42px 1014px $white,
  1418px 97px $white, 204px 537px $white, 244px 1328px $white,
  1379px 194px $white, 854px 1907px $white, 113px 1421px $white,
  1868px 161px $white, 94px 991px $white, 741px 915px $white,
  1632px 1747px $white, 265px 1683px $white, 733px 695px $white,
  1315px 1544px $white, 1291px 977px $white, 229px 912px $white,
  1622px 1561px $white, 1809px 1687px $white, 1900px 918px $white,
  873px 610px $white, 220px 1895px $white, 985px 1372px $white,
  1869px 1579px $white, 236px 1173px $white, 220px 567px $white,
  1188px 1349px $white, 1131px 338px $white, 673px 1493px $white,
  136px 132px $white, 1121px 1545px $white, 1014px 1535px $white,
  1158px 1512px $white, 126px 1671px $white, 441px 1872px $white,
  187px 667px $white, 190px 531px $white, 1835px 1052px $white,
  1175px 1501px $white, 96px 1507px $white, 1184px 2px $white,
  1449px 1791px $white, 56px 1954px $white, 34px 1205px $white,
  1385px 391px $white, 1583px 123px $white, 1677px 1310px $white,
  242px 852px $white, 1958px 1610px $white, 1168px 649px $white,
  1835px 1382px $white, 84px 1625px $white, 1520px 139px $white,
  171px 1834px $white, 1607px 524px $white, 787px 1688px $white;

$boxShadowBStar: 1346px 12449px $white, 200px 1807px $white, 813px 1794px $white,
  1508px 1665px $white, 1204px 1837px $white, 1900px 138px $white,
  870px 716px $white, 1744px 1032px $white, 235px 1340px $white,
  774px 573px $white, 1831px 1569px $white, 1651px 867px $white,
  514px 1016px $white, 183px 653px $white, 406px 356px $white,
  762px 1754px $white, 1259px 169px $white, 654px 382px $white,
  334px 1492px $white, 1604px 1262px $white, 271px 975px $white,
  1295px 924px $white, 1359px 1590px $white, 310px 318px $white,
  539px 352px $white, 1258px 703px $white, 625px 652px $white,
  1308px 1209px $white, 1550px 1200px $white, 1451px 81px $white,
  1008px 1133px $white, 1235px 458px $white, 362px 570px $white,
  319px 1252px $white, 308px 1111px $white, 1551px 825px $white,
  1916px 346px $white, 406px 1920px $white, 784px 335px $white,
  1808px 1484px $white, 1046px 676px $white, 247px 147px $white,
  91px 580px $white, 974px 1390px $white, 1591px 169px $white,
  1085px 230px $white, 1971px 1290px $white, 35px 1385px $white,
  1059px 370px $white, 702px 1740px $white, 1717px 576px $white,
  135px 334px $white, 1087px 666px $white, 1865px 620px $white,
  1481px 341px $white, 70px 841px $white, 1425px 999px $white,
  1778px 1010px $white, 1924px 1547px $white, 1125px 576px $white,
  121px 478px $white, 1413px 1075px $white, 598px 1634px $white,
  1406px 243px $white, 1845px 1380px $white, 290px 347px $white,
  755px 622px $white, 1951px 248px $white, 1423px 265px $white,
  561px 512px $white, 1362px 1581px $white, 1846px 744px $white,
  1613px 921px $white, 1823px 1719px $white, 1632px 473px $white,
  738px 577px $white, 278px 785px $white, 1010px 674px $white,
  917px 1450px $white, 1774px 637px $white, 519px 1179px $white,
  1894px 580px $white, 482px 202px $white, 1312px 1176px $white,
  233px 80px $white, 902px 475px $white, 226px 1491px $white, 186px 14px $white,
  60px 394px $white, 1034px 312px $white, 531px 819px $white, 855px 379px $white,
  2000px 1020px $white, 1034px 1145px $white, 1666px 1954px $white,
  1855px 743px $white, 1532px 1106px $white, 46px 1836px $white,
  441px 326px $white, 214px 1124px $white;
